<h1>Tasks</h1>

<ol>
  <% @tasks.each do |t| %>
    <li><input type="checkbox" name="task-<%= t.id %>"
        <% if t.completed == true %> checked <% end %>>
        <%= link_to t.title, task_path(t.id) %>
      </li>
  <% end %>
</ol>
